/*
font-family: 'Faster One', cursive;
font-family: 'Open Sans', sans-serif;
*/
*{
    margin: 0 auto; }

h1{
    font-family: 'Faster One', cursive;
    text-align: center; 
    font-size: 60px; 
}

h2 {
padding: 20px; 
text-align: center; 
font-family: 'Oleo Script Swash Caps', cursive;
font-size: 2.5rem;
letter-spacing: 2px;
}

h3{
    margin-left: 40px;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
} 


#pokedex{
    margin-top: 20px; 
    width: 450px;
    height: 550px; 
    background-color: rgb(255, 221, 67); 
    border-radius: 15px; 
    box-shadow: 10px 2px 0px 13px rgba(255, 221, 67, 0.685); ;
    font-family: 'Open Sans', sans-serif;
}

#nmbr{
    width: 60px;
    height: 60px; 
    border-radius: 50%; 
    background-color: red; 
    text-align: center; 
    position: relative;
    margin-top: -80px;
    margin-right: 30px;  
    font-weight: bold;
    font-size: 1.3rem;
    
}

#number{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    background-color: red; 
    color: white;
}

#whatPokemon{
    width: 150px; 
    height: 150px; 
    margin-left: 25%;
    min-height: 150px;
    
}

#search{
    margin-left: 20px; 
    margin-top: 20px;
}
#evolution {
    height: 120px;
    width: 120px;
    margin-top: -100px;
    margin-left: 300px;

}

.moves {
    margin-left: 70px;
}

#evolutionName {
    float:right;
    margin-right: 65px;
    margin-top: -30px;
}